@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Days+One&display=swap');

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.navbar li {
  font-family: "Bruno Ace", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #235055;
  cursor: pointer;
}

.navbar-logo {
  width: 60px;
  height: 60px;
}
